.item__price {
  margin-bottom: 1rem;
}

.item__photo {
  text-align: center;

  img {
    max-width: 11rem;
  }
}

.item__buttons {
  text-align: center;

  button {
    margin-top: .5rem;
    background: #e2ba28;
    font-weight: 600;
    color: #fff;
    padding: .4rem 1rem;
    border: none;
  }
}
