body {
  color: gray;
}

header {
  padding: 2rem 0;
  text-align: center;
  background: grey;
  color: white;
  grid-area: header;
}

.App {
  display: grid;
  grid-template-areas:
  'header header header header header header'
  'menu main main main main main'
  'footer footer footer footer footer footer';
  grid-gap: 2rem;
}

a {
  color: gray;
}

.clothing-nav {
  grid-area: menu;
}

main {
  grid-area: main;
}

.cards {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

footer {
  grid-area: footer;
  background: grey;
  padding: 2rem;
  color: white;
}

ul {
  margin-top: 0;
}

ul li {
  list-style: none;
  margin-bottom: .5rem;
}
