body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #313837;
}


.wrapper {
  margin: 2rem;
}

.grid-container {
  display: grid;
  grid-template-areas: 'menu heading heading heading heading heading'
                       'menu main main main main main';
  grid-gap: 0 1rem;
  grid-template-columns: 12rem 1fr;
}

.heading {
  grid-area: heading;

  h2 {
    color: #313837;
  }
}

main {
  margin-top: 2.5rem;
}

@import 'modules/header';
@import 'modules/nav';
@import 'modules/footer';
@import 'modules/item';
@import 'modules/items';
@import 'modules/items-nav';





